<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Webpage Title -->
    <title>martial arts</title>

    <link href="/css/comment.css?1577779699000" rel="stylesheet" type="text/css" />
    <link href="/css/nstore_util.css?1580452906000" rel="stylesheet" type="text/css" />
    <link href="/css/nstore_cont.css?1580452906000" rel="stylesheet" type="text/css" />
    <link href="/css/skip/nstore_js.css?1577779699000" rel="stylesheet" type="text/css" />
    <link href="/css/nstore.css?1581574785000" rel="stylesheet" type="text/css" />

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link
    href="https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Hi+Melody&family=Nanum+Brush+Script&family=Nanum+Gothic&family=Nanum+Pen+Script&display=swap"
    rel="stylesheet">
    <style>
    a{font-size:20px;}

        .star_rating {
            font-size: 0;
            letter-spacing: -4px;
        }

        .star_rating a {

            font-size: 22px;

            letter-spacing: 0;

            display: inline-block;

            margin-left: 5px;

            color: #ccc;

            text-decoration: none;

        }

        .star_rating a:first-child {
            margin-left: 0;
        }

        .star_rating a.on {
            color: #777;
        }

        .strong {
            font-weight: bold;
            font-style: italic;
            font-size: 70px;
            font-family: sans-serif;
        }

        .card-group {
      height: 850px;
      margin-right: 3cm;
      margin-left: 3cm;
    }
       
        .maintext {
            color: grey;

            text-align: center;
        }

        h5{font-size:30px;}

* {
  font-family: 'Gamja Flower', cursive;
  font-family: 'Hi Melody', cursive;
  font-family: 'Nanum Brush Script', cursive;
  font-family: 'Nanum Gothic', sans-serif;
  font-family: 'Nanum Pen Script', cursive;
}

       
        .but {
      margin-left: 80px;
    }
    </style>
    </style>
</head>

<body>
    <div class="maintext">
        <h1><span class="strong">WEBNOVEL</span>REVIEW</h1>
    </div>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">장르 /</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="http://127.0.0.1:5500/templates/index.html">로맨스 /</a>
                    <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:5500/templates/index2.html">로판 /</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:5500/templates/index3.html">판타지 /</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:5500/templates/index4.html">무협</a>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

        </div>


    </nav>
    <br>
    <br>

    <div class="card-group">
        <div class="card">
            <img class="card-img-top"
                src="https://comicthumb-phinf.pstatic.net/20170222_150/pocket_1487714597820sUP2x_JPEG/%28%29.jpg?type=m260"
                width="173" height="300" width="173" height="300" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">장씨세가호위무사(조형근)</h5>
                <p class="star_rating">
                    <a href="#" class="on">★</a>
                    <a href="#" class="on">★</a>
                    <a href="#" class="on">★</a>
          
                    <a href="#">★</a>
                    <a href="#">★</a><a>(3/5)</a>
                  </p>
                 <img src='https://ifh.cc/g/R4zw6d.png' width="220px" height="350px">

                 <div class="but">
                <button onclick="hi()" type="button" class="btn btn-outline-success"><a
                        href="http://127.0.0.1:5500/templates/review22.html">리뷰 보기</a></button>
                        </div>





            </div>
        </div>
        <div class="card">
            <img class="card-img-top"
                src="https://comicthumb-phinf.pstatic.net/20191211_91/pocket_15760424703667k5N4_JPEG/2__.jpg?type=m260"
                width="173" height="300" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">천화일로 (목마)</h5>
                <p class="star_rating">

                    <a href="#" class="on">★</a>
          
                    <a href="#" class="on">★</a>
          
                    <a href="#" class="on">★</a>
                    <a href="#">★</a>
                    <a href="#">★</a>
          
          
                    <a>(3/5)</a>
          
          
          
          
          
                  </p>
                  <img src='https://ifh.cc/g/tWD5l9.png'width="220px" height="350px" >
                  <div class="but"><button onclick="hi()" type="button" class="btn btn-outline-success"><a
                        href="http://127.0.0.1:5500/templates/review23.html">리뷰 보기</a></button></div>


            </div>
        </div>
        <div class="card">
            <img class="card-img-top"
                src="https://comicthumb-phinf.pstatic.net/20200317_137/pocket_1584418050318OzPTW_JPEG/__.jpg?type=m260"
                width="173" height="300" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">무당패왕 (윤신현)</h5>
                <p class="star_rating">
                    <a href="#" class="on">★</a>
                    <a href="#" class="on">★</a>
                    <a href="#" class="on">★</a>
          
                    <a href="#">★</a>
                    <a href="#">★</a><a>(3/5)</a>
                  </p>
               
                   <img src='https://ifh.cc/g/4XX0Dz.png'width="220px" height="350px"  >
                   <div class="but">
                    <button onclick="hi()" type="button" class="btn btn-outline-success"><a
                        href="http://127.0.0.1:5500/templates/review24.html">리뷰 보기</a></button>

                    </div>

            </div>

        </div>
        <div class="card">
            <img class="card-img-top"
                src="https://comicthumb-phinf.pstatic.net/20190715_58/pocket_1563167384978zVjaI_JPEG/%28%29.jpg?type=m260"
                width="173" height="300" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">  비 검문도 (주홍지)</h5>
                <p class="star_rating">
                    <a href="#" class="on">★</a>
                    <a href="#" class="on">★</a>
                   
                    <a href="#">★</a>
                    <a href="#">★</a>
                    <a href="#">★</a><a>(2/5)</a>
                  </p>
                <img src='https://ifh.cc/g/Q46OvY.png'width="220px" height="350px" >
                <div class="but">
                    <button onclick="hi()" type="button" class="btn btn-outline-success"><a
                            href="http://127.0.0.1:5500/templates/review25.html">리뷰 보기</a></button>

                        </div>



            </div>
        </div>

    </div>


</body>

</html>