<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fantasy</title>
    <!-- Webpage Title -->
    <title>myproject</title>

    <link href="/css/comment.css?1577779699000" rel="stylesheet" type="text/css" />
    <link href="/css/nstore_util.css?1580452906000" rel="stylesheet" type="text/css" />
    <link href="/css/nstore_cont.css?1580452906000" rel="stylesheet" type="text/css" />
    <link href="/css/skip/nstore_js.css?1577779699000" rel="stylesheet" type="text/css" />
    <link href="/css/nstore.css?1581574785000" rel="stylesheet" type="text/css" />

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
    <style>
        a {
            text-decoration: underline;
        }



        .card-group {
            margin-left: 130px;
            margin-right: 130px;
        }

        h1 {
            margin-left: 130px;
            margin-right: 130px;
        }
    </style>
</head>

<body>
    <br>
    <h1><strong>판타지</strong></h1>
    <br>
    <br>

    <div class="card-group">
        <div class="card">
            <img class="card-img-top"
                src="https://comicthumb-phinf.pstatic.net/20161228_280/pocket_1482887340897zob42_JPEG/image.JPEG?type=m260"
                width="173" height="300" width="173" height="300" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">달빛조각사</h5><br>
                <p class="card-text">워낙에 유명한 작품이라 소설을 좋아하는 사람이라면 조금이라도 안 본 사람이 드문 작품이다. 초반에 읽을 때는 너무 신선하고 재밌었어 밤을 새며 읽기도
                    했었다. 주인공이 홀로 무적이지는 않아서 사건사고를 해결해 나가는 과정이 유쾌하고 흥미로웠다. 개인적인 생각으로는 중반 정도쯤에서 마무리를 지었어도 좋았을 것 같다. 작품이
                    길어지다 보니 문제도 많이 생긴 것 같다. 게임 장르의 소설을 좋아하는 사람이라면 반드시 읽어 볼 만한 소설이다.
                    <a href=https://series.naver.com/novel/detail.nhn?productNo=1315886> 보러 가기</a>





                </p><button type="button" class="btn btn-outline-success">리뷰 작정하기</button>



                </li></a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top"
                src="https://comicthumb-phinf.pstatic.net/20160822_152/pocket_1471849279299JgBck_JPEG/___.jpg?type=m260"
                width="173" height="300" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">이계진입 리로디드</h5><br>
                <p class="card-text"> 300화가 넘는 긴 소설을 질리지 않고 단숨에 읽어냈습니다.
                    주인공이 내내 나에게 복수의 자격이 있는지를 스스로에게 되묻는 장면들이 인상적이었어요.
                    그리고 회가 거듭될수록 복수의 이유를 유의미하게 찾아가는 과정들도 재미있었구요.
                    길게 늘어지지 않고, 적당히 속도감 있는 전재인데다
                    주인공이 강하지만 강함에는 이유가 있고,
                    그렇다고 홀로 천상천하 유아독존식의 강함이 아니라
                    때때로는 당하기도 하고, 도망도 치고, 머리도 굴리고,
                    동료들의 도움을 받아 앞으로 나아가는 과정이 볼만해요.
                    <a href=https://series.naver.com/novel/detail.nhn?productNo=1727697> 보러 가기</a>


                </p><button type="button" class="btn btn-outline-success">리뷰 작정하기</button>


            </div>
        </div>
        <div class="card">
            <img class="card-img-top"
                src="https://comicthumb-phinf.pstatic.net/20170202_69/pocket_1486012777918sOrk0_JPEG/144147_660.jpg?type=m260"
                width="173" height="300" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">성운을 먹는자</h5><br>
                <p class="card-text">이 소설만큼 퓨전 판타지라는 말이 어울리는 것을 처음 보았다. 무협이면서 판타지의 요소가 군데 군데 섞인 부분이 많이 드러난다. 그렇게 때문에
                    새로워도 많이 새롭다. 흔해빠진 무협 설정들에 지루해지신 분들은 이 책을 한번 읽어보는 것을 추천하겠다. 그리고 중간중간에 웃음을 주는 요소들이 많아서 보는 내내 지루하진 않을 것
                    이라고 생각한다.다만 단점같은경우는... 설정이 달라도 너무 많이 달라서 이게 뭔소리지 싶은 부분도 좀 많고 이해가 잘 가지 않는 부분들도 많다.<a
                        href=https://series.naver.com/novel/detail.nhn?productNo=1373118> 보러 가기</a></p><button
                    type="button" class="btn btn-outline-success">리뷰 작정하기</button>





            </div>

        </div>
        <div class="card">
            <img class="card-img-top"
                src="https://comicthumb-phinf.pstatic.net/20150716_146/pocket_14370292539213Jf6y_JPEG/__1.jpg?type=m260"
                width="173" height="300" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">세월의 돌</h5><br>
                <p class="card-text">세월의 돌은... 동화를 걷는 듯한 느낌의 소설이라고 할 수 있겠습니다.
                    백설공주 이야기. 신데렐라, 미녀와 야수 바로 그러한 신비하고도 존재할 리 없는 세상에 우리를 초대하는 듯한 느낌의 이야기입니다. 작가님은 화려하고도 부드러운 필체로
                    다양하고 웅장하며 아름다운 장면을 연출해 주시고 무엇보다도 자연스러운 대화의 흐름으로 하여 우리를 그 대화속에 끌어다 놓는 기분입니다. 주인공 파비안과 유리카 단 둘의 대화
                    뿐인데도 마치 그 둘의 대화를 저까지 포함해 듣는 듯한
                    느낌을 줍니다.<a href=https://series.naver.com/novel/detail.nhn?productNo=1881438> 보러 가기</a></p><button
                    type="button" class="btn btn-outline-success">리뷰 작정하기</button>






            </div>
        </div>

    </div>
    <br>
    <div class="card-group">
        <div class="card">
            <img class="card-img-top"
                src="https://comicthumb-phinf.pstatic.net/20160407_191/pocket_1460009265613F4aUQ_JPEG/__720_1098%28%29.jpg?type=m260"
                width="173" height="300" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">차원의 균열</h5><br>
                <p class="card-text">소설의 배경은 또다른 지구로 2040년 이후 멸망을 당해 기계들만이 남아있는 황무지입니다. 그리고 그곳에서 미래의 물품들을 하나씩 얻게 되면서
                    벌어지는
                    이야기들로 책의 내용은 구성되어 있습니다. 소재 자체도 굉장히 흥미로울 뿐 아니라 황규영 작가님 특유의 유쾌하고 경쾌한 문체로 쓰여져 상당히 읽기도 쉽고 내용도 어렵지 않았습니다.
                    유쾌하고 잘 읽히는 책을 찾으신다면 반드시 추천드리고 싶습니다!<a
                        href=https://series.naver.com/novel/detail.nhn?productNo=1858742> 보러 가기</a>





                </p><button type="button" class="btn btn-outline-success">리뷰 작정하기</button>




            </div>
        </div>
        <div class="card">
            <img class="card-img-top"
                src="https://comicthumb-phinf.pstatic.net/20140905_241/pocket_1409909837501zOxYb_JPEG/%B0%E8%BF%F5%BB%EF_%B1%B3%C3%BC_%C7%A5%C1%F6.jpg?type=m260"
                width="173" height="300" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">계웅삼전기</h5><br>
                <p class="card-text"> 제목부터 계웅삼전기답게 구라쟁이의 온갖 구라들을 만끽할 수 있고 재밌었다. 특히 종종 언급되는 가우리의 이야기들로 인하여 마치 옛 추억을 회상하며
                    추억의 맛이 더해진 기분이다. 전쟁보는 맛도 있고 구라쟁이의 전략전술도 재밌었다.한편한편 읽을수록 계웅삼이 언제 잡혀 죽을까 하는 쫄깃쫄깃한 맛이 있었다. 매 편마다 주인공인 언제
                    죽을까 기대되는 소설은 계웅삼전기가 처음었다.<a href=https://series.naver.com/novel/detail.nhn?productNo=1296633> 보러
                        가기</a>

                </p><button type="button" class="btn btn-outline-success">리뷰 작정하기</button>

            </div>
        </div>
        <div class="card">
            <img class="card-img-top"
                src="https://comicthumb-phinf.pstatic.net/20141202_145/pocket_1417505677082CNeMJ_JPEG/ww0.jpg?type=m260"
                width="173" height="300" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">하얀 늑대들</h5><br>
                <p class="card-text">한국 판타지 소설계에 일획을 그은 소설입니다. 재밌다는건 분명하지만 같은 요소를 어떻게 보느냐에 따라 장점이 되기도 하고 단점이 되기도 하는 특이한
                    작품이라고 생각합니다. 총 4부로 구성되어 있지만 사실 에피소드의 구분일 뿐 큰 스토리는 같습니다. 그래서 초반부터 뿌려지던 단서와 떡밥의 진실이 4부에 가서야 모두 밝혀지죠.
                    소설의 전체적인 틀과
                    숨겨진 진실 등을 알아내야 하는 추리물이나 반전물 좋아하시면 딱 맞는 소설이라고 생각합니다. 다만 주인공이 시원하게 적들을 박살내는 먼치킨을 좋아하시면 지루하고 답답할 겁니다.<a
                        href=https://series.naver.com/novel/detail.nhn?productNo=1681385> 보러 가기</a>
                </p><button type="button" class="btn btn-outline-success">리뷰 작정하기</button>
s
            </div>

        </div>
        <div class="card">
            <img class="card-img-top"
                src="https://comicthumb-phinf.pstatic.net/20150909_208/pocket_1441778174701Xa93M_JPEG/___.jpg?type=m260"
                width="173" height="300" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">월야환담</h5><br>
                <p class="card-text">살벌한 월야의 분위기가 생생하게 살아있고, 주인공 한세건의 성장과정을 흥미진진하게 볼 수 있는 명작. 사실 성장 스토리를 별로 좋아하진 않았는데
                    채월야 때문에 좋아하게 됐음.
                    취향은 갈릴지라도 이 책이 잘 쓰여진 책임을 부정하시는 분을 본 적이 없을 정도. 살아있는 캐릭터들과 시니컬하면서도 냉소적인 대사들이 마음에 들었다.
                    작가가 정말 약 빨고 적었나 싶었을 정도로 잘 적었다고 생각함. 물론, 마지막 결말에서 주인공 한세건이 죽지않고 끝나는 점에서 살짝 의아함과 실망감이 들었음.<a
                        href=https://series.naver.com/novel/detail.nhn?productNo=1342878> 보러 가기</a>

                </p><button type="button" class="btn btn-outline-success">리뷰 작정하기</button>

            </div>
        </div>

    </div>

</body>

</html>