<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Webpage Title -->
    <title>martial arts</title>

    <link href="/css/comment.css?1577779699000" rel="stylesheet" type="text/css" />
    <link href="/css/nstore_util.css?1580452906000" rel="stylesheet" type="text/css" />
    <link href="/css/nstore_cont.css?1580452906000" rel="stylesheet" type="text/css" />
    <link href="/css/skip/nstore_js.css?1577779699000" rel="stylesheet" type="text/css" />
    <link href="/css/nstore.css?1581574785000" rel="stylesheet" type="text/css" />

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
    <style>
        a {
            text-decoration: underline;
        }

        h1 {
            margin-left: 130px;
            margin-right: 130px;
        }

        .card-group {
            margin-left: 130px;
            margin-right: 130px;
            margin-bottom: 400px;
        }
    </style>
</head>

<body>
    <br>
    <h1><strong>무협</strong></h1>
    <br>
    <br>

    <div class="card-group">
        <div class="card">
            <img class="card-img-top"
                src="https://comicthumb-phinf.pstatic.net/20170222_150/pocket_1487714597820sUP2x_JPEG/%28%29.jpg?type=m260"
                width="173" height="300" width="173" height="300" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">장씨세가 호위무사</h5><br>
                <p class="card-text">네이버 웹툰으로도 연재되고 있을 만큼 많은 인기를 가진 소설입니다. 은거한 과거의 최강자, 정신적 트라우마, 힘을 숨긴 호위무사 등의 설정을 적절히
                    섞었지만 살짝씩 아쉬운 부분들이 보였습니다.
                    단점들이 있긴 하지만 취향에 따라서는 큰 문제 없이 스무스하게 넘어갈 만한 정도이기도 해서 이런 설정의 무협을 좋아하신다면 재밌게 읽으실 수 있을 겁니다.



                    <a href=https://series.naver.com/novel/detail.nhn?productNo=1655878> 보러 가기</a>

                </p><button type="button" class="btn btn-outline-success">리뷰 작정하기</button>




            </div>
        </div>
        <div class="card">
            <img class="card-img-top"
                src="https://comicthumb-phinf.pstatic.net/20191211_91/pocket_15760424703667k5N4_JPEG/2__.jpg?type=m260"
                width="173" height="300" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">천화일로</h5><br>
                <p class="card-text"> 베일에 싸인 요소로 독자의 흥미를 유발한다. 요즘 나오는 무협과는 다른 세계관으로 흥미를 유발시킨다. 조금 무모하지만 무대포는 아니고 답답하지 않는
                    주인공보다 인물들이 조화를 이뤄 전개되어 무협을 보기를
                    원하신다면 추천한다. <a href=https://series.naver.com/novel/detail.nhn?productNo=4156751> 보러 가기</a>

                </p><button type="button" class="btn btn-outline-success">리뷰 작정하기</button>


            </div>
        </div>
        <div class="card">
            <img class="card-img-top"
                src="https://comicthumb-phinf.pstatic.net/20200317_137/pocket_1584418050318OzPTW_JPEG/__.jpg?type=m260"
                width="173" height="300" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">무당패왕</h5><br>
                <p class="card-text">다른 무협소설과 다른 점이 하나도 없고 그냥 과거 소설들 복사 수준입니다.
                    돌고 도는 무당 왕따 스승의 제자가 하산-표국- 산적- 지인한테 조공, 수련시켜주기 전형적인 무협패턴. 저는 솔직히 조회수 조작이 절대로 없다고 말 못한다고 보네요.
                    아직도 무협의 저 냄새를 좋아하는 분들이 2만명이나 있다고 보나요? 90년대 2000년대 초반 구무협 만화로 나온거랑 다른 내용이 있나요?
                    도대체 이게 왜1등인지도 모르겠고 조사할 수 있으면 문피아에서 자체적으로 좀 했으면 좋겠네요.<a
                        href=https://series.naver.com/novel/detail.nhn?productNo=4965043> 보러 가기</a>
                </p><button type="button" class="btn btn-outline-success">리뷰 작정하기</button>



            </div>

        </div>
        <div class="card">
            <img class="card-img-top"
                src="https://comicthumb-phinf.pstatic.net/20190715_58/pocket_1563167384978zVjaI_JPEG/%28%29.jpg?type=m260"
                width="173" height="300" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">비 검문도</h5><br>
                <p class="card-text">네이버 시리즈에서 연재 중인 중국 선협소설, 주인공이 수련을 마치고 고향으로 돌아와 승승장구하는 이야기. 지금까지 읽은
                    선협 소설 중 스토리가 가장 빠르고 일반 무협 내용에서 선협이 들어간 듯한 느낌. 그냥 저냥 읽을만 하다. 엄청나게 재밌있다는 아니지마 그냥저냥 시간 때우기로 볼만하다. <a
                        href=https://series.naver.com/novel/detail.nhn?productNo=4277623> 보러 가기</a></p><button
                    type="button" class="btn btn-outline-success">리뷰 작정하기</button>






            </div>
        </div>

    </div>


</body>

</html>