<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rofan</title>
  <!-- Webpage Title -->


  <link href="/css/comment.css?1577779699000" rel="stylesheet" type="text/css" />
  <link href="/css/nstore_util.css?1580452906000" rel="stylesheet" type="text/css" />
  <link href="/css/nstore_cont.css?1580452906000" rel="stylesheet" type="text/css" />
  <link href="/css/skip/nstore_js.css?1577779699000" rel="stylesheet" type="text/css" />
  <link href="/css/nstore.css?1581574785000" rel="stylesheet" type="text/css" />

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <!-- 구글폰트 -->
  <link
  href="https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Hi+Melody&family=Nanum+Brush+Script&family=Nanum+Gothic&family=Nanum+Pen+Script&display=swap"
  rel="stylesheet">

  <style>
     a{font-size:20px;}
    .but {
      margin-left: 80px;
    }
    .star_rating {
      font-size: 0;
      letter-spacing: -4px;
    }

    .star_rating a {

      font-size: 22px;

      letter-spacing: 0;

      display: inline-block;

      margin-left: 5px;

      color: #ccc;

      text-decoration: none;

    }

    .star_rating a:first-child {
      margin-left: 0;
    }

    .star_rating a.on {
      color: #777;
    }

    .strong {
      font-weight: bold;
      font-style: italic;
      font-size: 70px;
      font-family: sans-serif;
    }



    .card-group {
      height: 850px;
      margin-left: 3cm;
      margin-right: 3cm;
    }

    .maintext {
      color: grey;

      text-align: center;
    }
    h5{font-size:31px;}

    * {
      font-family: 'Gamja Flower', cursive;
      font-family: 'Hi Melody', cursive;
      font-family: 'Nanum Brush Script', cursive;
      font-family: 'Nanum Gothic', sans-serif;
      font-family: 'Nanum Pen Script', cursive;
    }
  </style>
  </style>
</head>

<body>
  <div class="maintext">
    <h1><span class="strong">WEBNOVEL</span> REVIEW</h1>
  </div>








  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">장르 /</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="http://127.0.0.1:5500/templates/index.html">로맨스 /</a>
          <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:5500/templates/index2.html">로판 /</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:5500/templates/index3.html">판타지 /</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:5500/templates/index4.html">무협</a>
        </li>

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>


      </form>

    </div>


  </nav>
  <br>

  <br>


  <div class="card-group">
    <div class="card">
      <img class="card-img-top"
        src="https://comicthumb-phinf.pstatic.net/20150403_152/pocket_1428041061201L7QSY_JPEG/1428041061155.jpg?type=m260"
        width="173" height="300" width="173" height="300" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"> 악마라고 불러다오(안테)</h5>
        <p class="star_rating">

          <a href="#" class="on">★</a>

          <a href="#" class="on">★</a>

          <a href="#" class="on">★</a>
          <a href="#">★</a>
          <a href="#">★</a>
          <a>(3/5)</a>





        </p>
        <img src='https://ifh.cc/g/zS9WcW.png' width="220px" height="350px">

        <div class="but"><button onclick="hi()" type="button" class="btn btn-outline-success"><a
              href="http://127.0.0.1:5500/templates/review9.html">리뷰 보기</a></button></div>






      </div>
    </div>
    <div class="card">
      <img class="card-img-top"
        src="https://comicthumb-phinf.pstatic.net/20140904_170/pocket_1409815752831tczB9_JPEG/1.jpg?type=m260"
        width="173" height="300" width="173" height="300" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">우아한 짐승의 세계</h5>
        <p class="star_rating">

          <a href="#" class="on">★</a>
          <a href="#">★</a>
          <a href="#">★</a>

          <a href="#">★</a>
          <a href="#">★</a>
          <a>(1/5)</a>





        </p>
        <img src='https://ifh.cc/g/KgpkFa.png' width="220px" height="350px">
        <div class="but">
          <button onclick="hi()" type="button" class="btn btn-outline-success"><a
              href="http://127.0.0.1:5500/templates/review10.html">리뷰 보기</a></button></div>




      </div>
    </div>
    <div class="card">
      <img class="card-img-top"
        src="https://comicthumb-phinf.pstatic.net/20170126_169/pocket_1485399198250kFKkC_JPEG/__.jpg?type=m260"
        width="173" height="300" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">두 입술 사이(손세희)</h5>
        <p class="star_rating">

          <a href="#" class="on">★</a>
          <a href="#" class="on">★</a>
          <a href="#" class="on">★</a>
          <a href="#" class="on">★</a>
          <a href="#">★</a>
          <a>(4/5)</a>





        </p>
        <img src='https://ifh.cc/g/8DS7Jr.png' width="220px" height="350px">

        <div class="but">
          <button onclick="hi()" type="button" class="btn btn-outline-success"><a
              href="http://127.0.0.1:5500/templates/review11.html">리뷰 보기</a></button></div>




      </div>

    </div>
    <div class="card">
      <img class="card-img-top"
        src="https://comicthumb-phinf.pstatic.net/20181101_25/pocket_1541053325022bMb9z_JPEG/cover.jpg?type=m260"
        width="173" height="300" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">재혼황후(알파타르트)</h5>
        <p class="star_rating">

          <a href="#" class="on">★</a>

          <a href="#" class="on">★</a>

          <a href="#" class="on">★</a>
          <a href="#" class="on">★</a>
          <a href="#" class="on">★</a>

          <a>(5/5)</a>





        </p>
        <img src='https://ifh.cc/g/Ox12zp.png' width="220px" height="350px">

        <div class="but">
          <button onclick="hi()" type="button" class="btn btn-outline-success"><a
              href="http://127.0.0.1:5500/templates/review12.html">리뷰 보기</a></button>
        </div>


      </div>
    </div>

  </div>
  <br> <br>

  <div class="card-group">
    <div class="card">
      <img class="card-img-top"
        src="https://comicthumb-phinf.pstatic.net/20151216_64/pocket_1450242307054dFiU0_JPEG/cover.jpg?type=m260"
        width="173" height="300" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">백작과의 기묘한 산책</h5>
        <p class="star_rating">

          <a href="#" class="on">★</a>

          <a href="#" class="on">★</a>

          <a href="#" class="on">★</a>
          <a href="#">★</a>
          <a href="#">★</a>


          <a>(3/5)</a>





        </p>
        <img src='https://ifh.cc/g/AseWkG.png' width="220px" height="350px">
        <div class="but">
          <button onclick="hi()" type="button" class="btn btn-outline-success"><a
              href="http://127.0.0.1:5500/templates/review14.html">리뷰 보기</a></button>


        </div>

      </div>
    </div>
    <div class="card">
      <img class="card-img-top"
        src="https://comicthumb-phinf.pstatic.net/20160304_242/pocket_1457059094343ySLSI_JPEG/1.jpg?type=m260"
        width="173" height="300" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">고양이 키스(김애정)</h5>
        <p class="star_rating">

          <a href="#" class="on">★</a>

          <a href="#" class="on">★</a>

          <a href="#" class="on">★</a>
          <a href="#">★</a>
          <a href="#">★</a>


          <a>(3/5)</a>





        </p>
        <img src='https://ifh.cc/g/l8WLcF.png' width="220px" height="350px">
        <div class="but">
          <button onclick="hi()" type="button" class="btn btn-outline-success"><a
              href="http://127.0.0.1:5500/templates/review15.html">리뷰 보기</a></button>
        </div>
      </div>





    </div>
    <div class="card">
      <img class="card-img-top"
        src="https://comicthumb-phinf.pstatic.net/20141107_38/pocket_1415341316357xRJTK_JPEG/1.jpg?type=m260"
        width="173" height="300" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">프렌시아의 꽃(김레인)</h5>

        <p class="star_rating">

          <a href="#" class="on">★</a>

          <a href="#" class="on">★</a>
          <a href="#" class="on">★</a>


          <a href="#">★</a>
          <a href="#">★</a>


          <a>(3/5)</a>





        </p>
      <img src='https://ifh.cc/g/hz6W0p.png'width="220px" height="350px"   >
      <div class="but">
        <button onclick="hi()" type="button" class="btn btn-outline-success"><a
            href="http://127.0.0.1:5500/templates/review16.html">리뷰 보기</a></button>
          </div>



      </div>
    </div>
    <div class="card">
      <img class="card-img-top"
        src="https://comicthumb-phinf.pstatic.net/20151120_176/pocket_1447973961550Wd6Jz_JPEG/cover.jpg?type=m260"
        width="173" height="300" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">요운당(이동희)</h5>
        <p class="star_rating">

          <a href="#" class="on">★</a>

          <a href="#" class="on">★</a>

          <a href="#">★</a>

          <a href="#">★</a>
          <a href="#">★</a>


          <a>(2/5)</a>





        </p>
        <img src='https://ifh.cc/g/I1sz0k.png'width="220px" height="350px"  >


        <div class="but">
        <button onclick="hi()" type="button" class="btn btn-outline-success"><a
            href="http://127.0.0.1:5500/templates/review17.html">리뷰 보기</a></button></div>




      </div>
    </div>
  </div>



</body>

</html>