<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Webpage Title -->
  <title>myproject</title>

  <link href="/css/comment.css?1577779699000" rel="stylesheet" type="text/css" />
  <link href="/css/nstore_util.css?1580452906000" rel="stylesheet" type="text/css" />
  <link href="/css/nstore_cont.css?1580452906000" rel="stylesheet" type="text/css" />
  <link href="/css/skip/nstore_js.css?1577779699000" rel="stylesheet" type="text/css" />
  <link href="/css/nstore.css?1581574785000" rel="stylesheet" type="text/css" />

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <!-- 구글폰트 -->
  <link
    href="https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Hi+Melody&family=Nanum+Brush+Script&family=Nanum+Gothic&family=Nanum+Pen+Script&display=swap"
    rel="stylesheet">


  <style>
    a {
      font-size: 20px;
    }

    .but {
      margin-left: 80px;
    }


    .star_rating {
      font-size: 0;
      letter-spacing: -4px;
    }

    .star_rating a {

      font-size: 22px;

      letter-spacing: 0;

      display: inline-block;

      margin-left: 5px;

      color: #ccc;

      text-decoration: none;

    }

    .star_rating a:first-child {
      margin-left: 0;
    }

    .star_rating a.on {
      color: #777;
    }

    .strong {
      font-weight: bold;
      font-style: italic;
      font-size: 70px;
      font-family: sans-serif;
    }



    .card-group {
      height: 850px;
      margin-left: 3cm;
      margin-right: 3cm;
    }

    .maintext {

      height: 90px;
      color: grey;

      text-align: center;
    }

    h5 {
      font-size: 31px
    }

    * {
      font-family: 'Gamja Flower', cursive;
      font-family: 'Hi Melody', cursive;
      font-family: 'Nanum Brush Script', cursive;
      font-family: 'Nanum Gothic', sans-serif;
      font-family: 'Nanum Pen Script', cursive;
    }
  </style>
</head>

<body>
  <div class="maintext">
    <h1><span class="strong">WEBNOVEL</span> REVIEW</h1>
  </div>


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">장르 /</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="http://127.0.0.1:5500/templates/index.html">로맨스 /</a>


        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:5500/templates/index2.html">로판 /</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:5500/templates/index3.html">판타지 /</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:5500/templates/index4.html">무협</a>
        </li>

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>

    </div>


  </nav>
  <br><br>
  <div class="card-group">
    <div class="card">
      <img class="card-img-top"
        src="https://comicthumb-phinf.pstatic.net/20141010_110/pocket_1412915784499GktmY_JPEG/cloud.jpg?type=m260"
        width="173" height="300" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">
          구르미 그린달빛 (윤이수)
        </h5>
        <p class="star_rating">

          <a href="#" class="on">★</a>

          <a href="#" class="on">★</a>

          <a href="#" class="on">★</a>
          <a href="#" class="on">★</a>
          <a href="#" class="on">★</a>
          <a>(5/5)</a>





        </p>
        <img src='https://ifh.cc/g/lt5cCf.png' width="220px" height="350px">


        <div class="but">
          <button onclick="Show()" type="button" class="btn btn-outline-success"><a
              href="http://127.0.0.1:5500/templates/review1.html">리뷰 보기</a></button>
        </div>

      </div>
    </div>
    <div class="card">
      <img class="card-img-top"
        src="https://comicthumb-phinf.pstatic.net/20160216_216/pocket_14556178273891qpTh_JPEG/h300.jpg?type=m260"
        width="173" height="300" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">
          허니허니웨딩 (노승아)
        </h5>
        <p class="star_rating">
          <a href="#" class="on">★</a>
          <a href="#" class="on">★</a>
          <a href="#">★</a>
          <a href="#">★</a>
          <a href="#">★</a><a>(2/5)</a>
        </p>
        <img src='https://ifh.cc/g/snWaz8.png' width="220px" height="350px">







        <div class="but">
          <button onclick="hi()" type="button" class="btn btn-outline-success"><a
              href="http://127.0.0.1:5500/templates/review2.html">리뷰 보기</a></button>
        </div>


      </div>
    </div>
    <div class="card">
      <img class="card-img-top"
        src="https://comicthumb-phinf.pstatic.net/20150202_224/pocket_14228417795267p3Ua_JPEG/%BF%F8%C7%CF%B4%C2_%B0%C7_%B3%CA_%C7%CF%B3%AA_%C7%A5%C1%F6%28%C0%CE%C5%B8%C0%CC%C6%B2%29.jpg?type=m260"
        width="173" height="300" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">
          원하는건 너하나 (달콤j)</h5>
        <p class="star_rating">
          <a href="#" class="on">★</a>
          <a href="#" class="on">★</a>
          <a href="#" class="on">★</a>
          <a href="#">★</a>
          <a href="#">★</a><a>(3/5)</a>
        </p>
        <img src='https://ifh.cc/g/QI5t4T.png' width="220px" height="350px">






        <div class="but">
          <button onclick="hi()" type="button" class="btn btn-outline-success"><a
              href="http://127.0.0.1:5500/templates/review3.html">리뷰 보기</a></button>



        </div>
      </div>

    </div>
    <div class="card">
      <img class="card-img-top"
        src="https://comicthumb-phinf.pstatic.net/20160328_97/pocket_1459135510506rEcLr_JPEG/night_mirage2.jpg?type=m260"
        width="173" height="300" width="173" height="300" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">
          해시의 신루 (윤이수)
        </h5>
        <p class="star_rating">
          <a href="#" class="on">★</a>
          <a href="#" class="on">★</a>
          <a href="#" class="on">★</a>
          <a href="#" class="on">★</a>

          <a href="#" class="on">★</a>


          <a>(5/5)</a></p>

        <img src='https://ifh.cc/g/QIgKGQ.png' width="220px" height="350px">

        <div class="but">
          <button onclick="hi()" type="button" class="btn btn-outline-success"><a
              href="http://127.0.0.1:5500/templates/review4.html">리뷰 보기</a></button>

        </div>

      </div>
    </div>

  </div>
  <br>


  <div class="card-group">
    <div class="card">
      <img class="card-img-top"
        src="https://comicthumb-phinf.pstatic.net/20160104_43/pocket_1451884589985ToRmk_JPEG/bigcover.jpg?type=m260"
        width="173" height="300" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">
          위험한 신혼부부 (박수정)
        </h5>
        <img src='https://ifh.cc/g/zqlFJo.png' width="220px" height="350px">
        <div class="but">


          <button onclick="hi()" type="button" class="btn btn-outline-success"><a
              href="http://127.0.0.1:5500/templates/review5.html">리뷰 보기</a></button>
        </div>


      </div>
    </div>
    <div class="card">
      <img class="card-img-top"
        src="https://comicthumb-phinf.pstatic.net/20160525_297/pocket_1464180572089FvQGi_JPEG/-.jpg?type=m260"
        width="173" height="300" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">
          조선연애실록 (로즈빈)
        </h5>
        <img src='https://ifh.cc/g/I4PYYh.png' width="220px" height="350px">
        <div class="but">
          <button onclick="hi()" type="button" class="btn btn-outline-success"><a
              href="http://127.0.0.1:5500/templates/review6.html">리뷰 보기</a></button>
        </div>



      </div>
    </div>
    <div class="card">
      <img class="card-img-top"
        src="https://comicthumb-phinf.pstatic.net/20150130_228/pocket_1422607142428nfFPd_JPEG/1.jpg?type=m260"
        width="173" height="300" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">
          법대로 사랑하라 (노아)
        </h5>
        <img src='https://ifh.cc/g/CgoXL0.png' width="220px" height="350px">

        <div class="but">

          <button onclick="hi()" type="button" class="btn btn-outline-success"><a
              href="http://127.0.0.1:5500/templates/review7.html">리뷰 보기</a></button>
        </div>


      </div>
    </div>
    <div class="card">
      <img class="card-img-top"
        src="https://comicthumb-phinf.pstatic.net/20150805_225/pocket_1438765168534ppRRW_JPEG/cover.jpg?type=m260"
        width="173" height="300" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">
          너에게로 중독 (안테)
        </h5>
        <img src='https://ifh.cc/g/CgoXL0.png' width="220px" height="350px">

        <div class="but">
          <button onclick="hi()" type="button" class="btn btn-outline-success"><a
            href="http://127.0.0.1:5500/templates/review8.html">리뷰 보기</a></button>
        </div>

      </div>
    </div>
  </div>
  <br>

</body>